{% extends 'app/base.html' %}
{% load static %}
{% block title %}- Sobre Nosotros{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    
    <div class="row justify-content-center">
        
        <div class="col-md-10">
            <div class="about-us-section p-4 rounded shadow mb-4">
                <h2 class="text-center mb-4">Sobre Nosotros</h2>
                <p class="fs-4 text-center">
                    ¡Bienvenidos a Chronic Care! Somos tu bitácora médica definitiva diseñada para transformar la gestión de tu salud. En Chronic Care, creemos en el poder de la información y la tecnología para mejorar la calidad de vida de las personas con enfermedades crónicas.
                </p>
                <p class="fs-4 text-center">
                    Nuestro objetivo es proporcionar una plataforma integral donde puedas llevar un seguimiento detallado de tus condiciones de salud, acceder a recursos académicos de manera fácil y sencilla.
                </p>
            </div>
            <div class="mission-section p-4 rounded shadow">
                <h3 class="text-center mb-4">Nuestra Misión</h3>
                <p class="fs-4 text-center">
                    Nuestra misión es empoderar a las personas con herramientas y conocimientos que les permitan gestionar sus condiciones de salud de manera efectiva y eficiente. Nos dedicamos a proporcionar una plataforma de salud integral que facilite el acceso a información crítica, promueva la educación continua y fomente  estilos de vida mejorados.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
