{% extends 'app/base.html' %}
{% load static %}
{%block title%}Perfiles{% endblock title%}

{% block main-content %} 
<div class="container my-5">
    <div class="row">
        <h3 class="text-center mb-4 fw-bold">Bienvenido <span class="text-capitalize">{{ request.user }}</span></h3>
            <div class="col-sm-2 border-end">
                <ul class="list-unstyled">
                    <li class="d-grid"><a href ="{% url 'profile' %}" class= "btn btn"> Agregar </a></li><br>
                    <li class="d-grid"><a href ="{% url 'address' %}" class= "btn btn-primary ">Bitácoras</a></li>
                </ul>
            </div> 
            <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% for ad in add %}
                <div class="col-sm-6">
                    <div class="card m-2">
                        <div class="card-body">
                            <h3>ficha {{forloop.counter}}</h3>
                            <p><strong>Nombre:</strong> {{ad.nombre}}</p>
                            <p><strong>Fecha:</strong> {{ad.fecha}}</p>
                            <p><strong>Bitacora:</strong> {{ad.bitacora}}</p>
                            <a href="{% url 'updateAddress' pk=ad.id %}">
                                <button type="submit" class="btn btn-primary">Modificar</button>
                            </a>                       
                        </div>                          
                    </div>
                </div>
                
                {% endfor %}
            </div>
        </div>
    </div> 
</div>


{%endblock main-content%}