{% extends 'app/base.html' %}
{% load static %}
{% block title %}Registro de usuarios{% endblock title %}

{% block main-content %} 
<!-- Registro de usuarios -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-22"> <!-- Cambiado a 8 columnas -->
            <div class="card shadow-lg p-4">
                <h3 class="text-center mb-4">Registro de Usuario</h3>
                <hr>
                <form action="" method="post" novalidate class="p-4">
                    {% csrf_token %}
                    {% for fm in form %}
                        <div class="mb-3">
                            {{ fm.label_tag }} {{ fm }} 
                            <small class="text-danger">{{ fm.errors|striptags }}</small>
                        </div>
                    {% endfor %}
                    <div class="d-grid">
                        <input type="submit" value="Registrar" class="btn btn-primary btn-block">
                    </div>
                    <!-- En caso de que ya exista un usuario registrado -->
                    <div class="text-center text-black fw-bold mt-3">
                        <small> ¿Ya eres usuario? <a href="{% url 'login'%}" class="text-primary">Ingresa</a> </small>
                    </div>
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <p class="alert alert-danger my-3">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    {% if messages %}
                        {% for msg in messages %}
                            <div class="alert alert-{{ msg.tags }}" role="alert">
                                {{ msg }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}
